body {
    background-color: #FAFAFA;
    font-family: "Nunito Sans", sans-serif;
    padding-top: 50px;
}

.container {
    max-width: 550px;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

a,
p {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 10px;
}