body {
    background-color: #FAFAFA;
    font-family: "Nunito Sans", sans-serif;
    padding-top: 50px;
}

.container {
    max-width: 550px;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

a,
p {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 10px;
}

.remove-to-do {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    color: rgb(165, 165, 165);
    text-decoration: none;
    text-align: right;
    padding: 0px 3px 5px 0px;
    border-radius: 50%;
    transition: background 1s;
    cursor: pointer;
    }

.remove-to-do:hover {
    color: #000000;
    }